@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");
body {
    max-height: 100%;
    max-width: 100%;
    background-color: aqua;
}

/* Component Map */
.map {
    float: right;
    height: 80vh;
    width: 60%;
}